username = "yourmail@example.com"
password = "your_password"
base_url = "http://localhost:80"

login_url = base_url + "/signin"
post_ip_url = base_url + "/ips/create_ip"
get_ips_url = base_url + "/ips/get_ips"
